.header {
    background-image: url(../images/html-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    color: white;
}

h1 {
    -webkit-text-stroke: 2px black;
}